ul.ul.list li {
  margin: 40px 10px;
  float: left;
  width: 300px;
}
ul.ul.list{
	display: inline-block;
}
div.block_top {
	width: 100%;
	height: 160px;
	position: relative;
}
div.block_top>div.image{
  background-position: 50% 50%;
  width: 100%;
  height: 160px;
  background-size: auto 160px;
  background-repeat: no-repeat;
  background-color: #F5F5F5;
}
div.block_top>div.title{
  font-size: 18px;
  color: #fff;
  position: absolute;
  bottom:0;
  width: 100%;
  height: 40px;
  background: url('../../img/gost_black.png') repeat;
  text-align: center;
  padding-top: 9px;
  text-shadow: 0px 1px 1px #666;
  box-sizing: border-box;
}
#partner-del, #partner-edit {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 30px;
  width: 30px;
}
#partner-edit {
  right: 32px;
}
#partner-del a, #partner-edit a{
  display: block;
  background: url('../../img/gost_black.png') repeat;
  height: 30px;
  width: 30px;
  text-decoration: none;
  opacity: 0.2
}
ul.list > li:hover div#partner-del a,ul.list > li:hover div#partner-edit a {
  opacity: 0.8;
}
ul.list > li:hover div#partner-del a:hover,ul.list > li:hover div#partner-edit a:hover {
  opacity: 1;
}
#partner-del a div {
  background: url('../../img/icons.png') -30px 0px no-repeat;
  height: 30px;
  width: 30px;
}
#partner-edit a div {
  background: url('../../img/icons.png') 0px 0px no-repeat;
  height: 30px;
  width: 30px;
}

div.block_bottom{ 
	padding: 5px;
	background: #f5f5f5;
}
div.block_bottom div.description{
	font-size: 14px;
}

#form-partner {
  padding: 25px 10px;
}

#form-partner label {
  display: block;
  padding: 0 0 5px 5px;
  font-size: 12px;
}

#form-partner input[type="text"],#form-partner textarea {
  display: block;
  padding: 5px;
  width: 450px;
  border: 1px solid #ccc;
  outline: 0;
  min-width: 450px;
  max-width: 450px;
}

#form-partner input[type="text"]:focus,#form-partner textarea:focus {
   border: 1px solid #28C584;
}

#form-partner input[type="submit"]{
display: block;
  height: 40px;
  width: 120px;
  color: #FFF;
  background: #28C584;
  border: 0px;
  font-size: 15px;
  text-shadow: 0px -1px #1F9C69;
  border-bottom: 2px solid #1F9C69;
  cursor: pointer;
}
#form-partner input[type="submit"]:hover{
  background: #34DA95;
}

ul.errorlist {
list-style-type: none;
  margin-bottom: 0em;
  padding-left: 0px;
  background: #FF7E7E;
  border-bottom: 2px solid #DD5353;
  width: 350px;
  margin-left: 480px;
  margin-top: 20px;
  position: absolute;
}

ul.errorlist li{
  color: #FFF;
  display: block;
  padding: 5px;
  font-size: 12px;
}