{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block head_data %}
		<link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
{% endblock %}

{% block active_main %}active{% endblock %}

{% block content %}
	<div class="main_text">Сегодня выступают</div>
	{% if presentation_list %}
	<ul class="ul list">
	{% for Presentation in presentation_list %}
		<li>
			<div class="block_left">
				<div style="background-image: url('{% if Presentation.spiker.userphoto %}{{ Presentation.spiker.userphoto.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}');"></div>
			</div>
			<div class="block_right">
				<a href="{% url 'spikers:index' %}{{ Presentation.spiker.id }}" class="name">{{ Presentation.spiker.fio }}</a>
				<a href="{% url 'presentation:index' %}{{ Presentation.id }}" class="title">{{ Presentation.title }}</a>
				<div class="date">Время начала: {{ Presentation.pub_date|date:"G:i d-M-Y" }}</div>
				<div class="description">{{ Presentation.description|truncatechars:255 }}</div>
			</div>
		</li>
	{% endfor %}
	</ul>
	{% else %}
		<div class="main_notification">На сегодня выступления не запланированы.</div>
	{% endif %}
{% endblock %}
