div.block-user{
  min-height: 120px;
  margin: 40px 15px;
}
ul.ul.list li {
  min-height: 120px;
  margin: 40px 15px;
}
div.block_left {
	width: 160px;
	float: left;
	height: 120px;
}
div.block_left>div{
  background-position: 50% 50%;
  width: 120px;
  height: 120px;
  background-size: cover;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
div.block_right{ 
	margin-left: 160px;
}

div.block_right div.name{
	font-size: 20px;
	padding-bottom: 20px;
} 
div.block_right a.name{
	color: #009054;
	font-size: 20px;
	padding-bottom: 20px;
	display: block
} 
div.block_right div.description{
	font-size: 14px;
}