{% extends "base.html" %}
{% load static %}
{% block title %}Выступления{% endblock %}

{% block head_data %}
	<link rel="stylesheet" href="{% static 'presentations/css/presentations.css' %}" />
{% endblock %}

{% block content %}
	<div class="main_text">Выступление</div>
	{% if presentation %}
		<div class="block-user">
			<div class="block_left">
				<div style="background-image: url('{% if presentation.spiker.userphoto %}{{ presentation.spiker.userphoto.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}');"></div>
			</div>
			<div class="block_right">
				<a href="{% url 'spikers:index' %}{{ presentation.spiker.id }}" class="name">{{ presentation.spiker.fio }}</a>
				<div class="title">{{ presentation.title }}</div>
				<div class="date">Время начала: {{ presentation.pub_date|date:"G:i d-M-Y" }}</div>
				<div class="description">{{ presentation.description|safe|linebreaksbr }}</div>
			</div>
		</div>
	{% else %}
		<p>Выступления с таким ID не существует.</p>
	{% endif %}

{% endblock %}