{% extends "base.html" %}
{% load static %}
{% block title %}Выступления{% endblock %}

{% block head_data %}
	<link rel="stylesheet" href="{% static 'presentations/css/presentations.css' %}" />
{% endblock %}
{% block active_presentation %}active{% endblock %}
{% block content %}
<div class="main_text">Выступления</div>
	{% if presentation_list %}
		<ul class="ul list">
		{% for presentation in presentation_list %}
			<li>
				<div class="block_left">
					<div style="background-image: url('{% if presentation.spiker.userphoto %}{{ presentation.spiker.userphoto.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}');"></div>
				</div>
				<div class="block_right">
					<a href="{% url 'spikers:index' %}{{ presentation.spiker.id }}" class="name">{{ presentation.spiker.fio }}</a>
					<a href="{% url 'presentation:index' %}{{ presentation.id }}" class="title">{{ presentation.title }}</a>
					<div class="date">Время начала: {{ presentation.pub_date|date:"G:i d-M-Y" }}</div>
					<div class="description">{{ presentation.description|truncatechars:255 }}</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<div class="main_notification">Выступления отсутсвуют.</div>
	{% endif %}

{% endblock %}