/* GLOBAL */
body{
    margin: 0;
	padding: 0;
	font-family: Verdana;
	color: #000;
	font-size: 14px;
}
ul.ul{
	list-style-type: none;
	margin-bottom: 0em;
	margin-top: 0em;
	padding-left: 0px;
}
.width-page{
	width: 960px;
	margin: 0 auto;
}

#main {
	height: 100%;
	min-height: 100%;
	background: #28c584;
	width: 100%;
	position: absolute;
}
#main>div.header{
	height: 100%;
	min-height: 100%;
}
#main>div.header>a.logo{
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 3px #666;
	font-size: 40px;
	position: absolute;
	top: 50%;
	margin-top: -70px;
	padding-left: 15px;
}
#main>div.header>a.logo:hover{
	color: #f5f5f5;
}
#main>div.header>div.description{
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 3px #666;
	font-size: 16px;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	padding-left: 15px;
}
#main>div.header>div.user-panel{
	float: right;
	padding: 10px;
	color: #fff;
	font-size: 12px;
}
#main>div.header>div.user-panel a{
	color: #fff;
	text-decoration: underline;
}
#main>div.header>div.user-panel a:hover{
	color: #f5f5f5;
}
#main>div.sidebar{
	position: absolute;
	height: 60px;
	background: url('../img/gost_black.png') repeat;
	width: 100%;
	bottom: 0px;
}
#main>div.sidebar li{float: left;}
#main>div.sidebar li a{	
  color: #FFF;
  text-decoration: none;
  padding: 19px 17px;
  display: block;
  font-size: 16px;
  box-sizing: border-box;
  height: 60px;
}
#main>div.sidebar li a:hover,#main>div.sidebar li a.active{
	background: url('../img/gost_black.png') repeat;
}






