/* GLOBAL */
body {
    margin: 0;
	padding: 0;
	font-family: Verdana;
	color: #000;
	font-size: 14px;
}
ul.ul{
	list-style-type: none;
	margin-bottom: 0em;
	margin-top: 0em;
	padding-left: 0px;
}
.width-page{
	width: 960px;
	margin: 0 auto;
}

/* HEADER */
#header {
	height: 300px;
	background: #28c584;
	width: 100%;
	position: relative;
}
#header>div.header{
	background: url('../img/speaker_v2.png') no-repeat 95% 100%;
	height: 300px;
}
#header>div.header>a.logo{
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 3px #666;
	font-size: 40px;
	position: absolute;
	top: 92px;
	padding-left: 15px;
}
#header>div.header>a.logo:hover{
	color: #f5f5f5;
}
#header>div.header>div.user-panel{
	float: right;
	padding: 10px;
	color: #fff;
	font-size: 12px;
}
#header>div.header>div.user-panel a{
	color: #fff;
	text-decoration: underline;
}
#header>div.header>div.user-panel a:hover{
	color: #f5f5f5;
}
#header>div.sidebar{
	position: absolute;
	height: 60px;
	background: url('../img/gost_black.png') repeat;
	width: 100%;
	bottom: 0px;
}
#header>div.sidebar li{float: left;}
#header>div.sidebar li a{	
  color: #FFF;
  text-decoration: none;
  padding: 19px 17px;
  display: block;
  font-size: 16px;
  box-sizing: border-box;
  height: 60px;
}
#header>div.sidebar li a:hover,#header>div.sidebar li a.active{
	background: url('../img/gost_black.png') repeat;
}

/* ARTICLE */

#article div.main_text{
  padding: 15px;
  margin: 15px 0px;
  border-bottom: 1px solid #CCC;
  font-size: 14px;
}
#article div.main_text span{
  float: right;
}
#article div.main_notification {
  padding: 15px;
  margin: 15px 0px;
}

#footer>div {
  padding: 25px 15px;
  margin-top: 25px;
  border-top: 1px solid #CCC;
}






