{% extends "base.html" %}
{% load static %}
{% block title %}Новости{% endblock %}

{% block head_data %}
	<link rel="stylesheet" href="{% static 'news/css/news.css' %}" />
{% endblock %}

{% block content %}
	<div class="main_text">Новость</div>
	{% if news %}
		<div class="news-block">
			<div class="title">{{ news.title }}</div>
			<div class="date">Опубликовано: {{ news.pub_date|date:"G:i d-M-Y" }}</div>
			<div class="description">{{ news.text|safe|linebreaksbr }}</div>
		</div>
	{% else %}
		<p>Новости с таким ID не существует.</p>
	{% endif %}

{% endblock %}