{% extends "base.html" %}
{% load static %}
{% block title %}Новости{% endblock %}

{% block head_data %}
	<link rel="stylesheet" href="{% static 'news/css/news.css' %}" />
{% endblock %}
{% block active_news %}active{% endblock %}
{% block content %}
<div class="main_text">Новости</div>
	{% if news_list %}
		<div class="pagination">
			<span class="step-links">
				{% if news_list.has_previous %}
					<a href="?page={{ news_list.previous_page_number }}">Предыдущая</a>
				{% endif %}

				<span class="current">
					Страница {{ news_list.number }} из {{ news_list.paginator.num_pages }}
				</span>

				{% if news_list.has_next %}
					<a href="?page={{ news_list.next_page_number }}">Следующая</a>
				{% endif %}
			</span>
		</div>
		<ul class="ul list">
		{% for news in news_list %}
			<li>
				<a href="{% url 'news:index' %}{{ news.id }}" class="title">{{ news.title }}</a>
				<div class="date">Опубликовано: {{ news.pub_date|date:"G:i d-M-Y" }}</div>
				<div class="description">{{ news.description|truncatechars:255 }}</div>
			</li>
		{% endfor %}
		</ul>
		<div class="pagination">
			<span class="step-links">
				{% if news_list.has_previous %}
					<a href="?page={{ news_list.previous_page_number }}">Предыдущая</a>
				{% endif %}

				<span class="current">
					Страница {{ news_list.number }} из {{ news_list.paginator.num_pages }}
				</span>

				{% if news_list.has_next %}
					<a href="?page={{ news_list.next_page_number }}">Следующая</a>
				{% endif %}
			</span>
		</div>
	{% else %}
		<div class="main_notification">Новости отсутсвуют.</div>
	{% endif %}

{% endblock %}