ul.ul.list li {
  margin: 40px 15px;
}

a.title{
	font-size: 20px;
	color: #009054;
	display: block
} 
div.title{
	font-size: 20px;
	display: block
} 
div.date{
	font-size: 14px;
	padding-bottom: 20px;
} 
div.description{
	font-size: 14px;
}

div.news-block{
	padding: 25px 15px;
}

div.pagination {
	padding: 10px 15px;
}