{% extends "base.html" %}
{% load static %}
{% block title %}Контакты{% endblock %}

{% block head_data %}
	<link rel="stylesheet" href="{% static 'pages/css/pages.css' %}" />
{% endblock %}

{% block active_contact %}active{% endblock %}

{% block content %}
	<div class="main_text">Контакты</div>
	{% if output %}
		<div class="content">{{output.content|safe|linebreaksbr}}</div>
	{% endif %}

{% endblock %}