{% extends "base.html" %}
{% load static %}
{% block title %}Спикеры{% endblock %}

{% block head_data %}
	<link rel="stylesheet" href="{% static 'spikers/css/spikers.css' %}" />
{% endblock %}

{% block content %}
	<div class="main_text">Спикер</div>
	{% if spiker %}
		<div class="block-user">
			<div class="block_left">
				<div style="background-image: url('{% if spiker.userphoto %}{{ spiker.userphoto.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}');"></div>
			</div>
			<div class="block_right">
				<div class="name">{{ spiker.fio }}</div>
				<div class="description">{{ spiker.description|safe|linebreaksbr }}</div>
			</div>
		</div>
	{% else %}
		<p>Спикера с таким ID не существует.</p>
	{% endif %}

{% endblock %}