{% extends "base.html" %}
{% load static %}
{% block title %}Спикеры{% endblock %}

{% block head_data %}
	<link rel="stylesheet" href="{% static 'spikers/css/spikers.css' %}" />
{% endblock %}
{% block active_spikers %}active{% endblock %}
{% block content %}
<div class="main_text">Спикеры</div>
	{% if spikers_list %}
		<ul class="ul list">
		{% for spikers in spikers_list %}
			<li>
				<div class="block_left">
					<div style="background-image: url('{% if spikers.userphoto %}{{ spikers.userphoto.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}');"></div>
				</div>
				<div class="block_right">
					<a href="{% url 'spikers:index' %}{{ spikers.id }}" class="name">{{ spikers.fio }}</a>
					<div class="description">{{ spikers.description|truncatechars:255 }}</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>Спикеры отсутсвуют.</p>
	{% endif %}

{% endblock %}