<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/errors.css' %}" />
	<meta charset="utf-8" />
    <title>Страница не найдена</title>
	<link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
</head>
<body>
	<div id="main">
		<div class="width-page header">
			<a href="/" class="logo">Конференции</a>
			<div class="description">К сожалению запрашиваемая вами страница не найдена<br>
		Код ошибки 404</div>
			<div class="user-panel">
				{% if user.is_authenticated %}
				Добро пожаловать, {{ user.username }} <a href="/admin" target="_blank" >Админ панель</a> | <a href="/admin/logout/">Выйти</a>
				{% else %}
				<a href="/admin">Войти</a>
				{% endif %}
			</div>
		</div>
		<div class="sidebar">
			<ul class="width-page ul">
				<li><a href="/" class="{% block active_main %}{% endblock %}">Главная</a></li>
				<li><a href="{% url 'spikers:index' %}" class="{% block active_spikers %}{% endblock %}">Спикеры</a></li>
				<li><a href="{% url 'presentation:index' %}" class="{% block active_presentation %}{% endblock %}">Выступления</a></li>
				<li><a href="{% url 'organizators:index' %}" class="{% block active_organ %}{% endblock %}">Организаторы</a></li>
				<li><a href="{% url 'partners:index' %}" class="{% block active_partners %}{% endblock %}">Партнеры</a></li>
				<li><a href="{% url 'contact:index' %}" class="{% block active_contact %}{% endblock %}">Контакты</a></li>
				<li><a href="{% url 'news:index' %}" class="{% block active_news %}{% endblock %}">Новости</a></li>
			</ul>
		</div>
	</div>
</body>
</html>