{% extends "base.html" %}
{% load static %}
{% block title %}Организатор{% endblock %}

{% block head_data %}
	<link rel="stylesheet" href="{% static 'organizators/css/organizators.css' %}" />
{% endblock %}

{% block content %}
	<div class="main_text">Организатор</div>
	{% if organizator %}
		<div class="block-user">
			<div class="block_left">
				<div style="background-image: url('{% if organizator.userphoto %}{{ organizator.userphoto.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}');"></div>
			</div>
			<div class="block_right">
				<div class="name">{{ organizator.fio }}</div>
				<div class="description">{{ organizator.description|safe|linebreaksbr }}</div>
			</div>
		</div>
	{% else %}
		<p>Организатора с таким ID не существует.</p>
	{% endif %}

{% endblock %}