{% extends "base.html" %}
{% load static %}
{% block title %}Организаторы{% endblock %}

{% block head_data %}
	<link rel="stylesheet" href="{% static 'organizators/css/organizators.css' %}" />
{% endblock %}
{% block active_organ %}active{% endblock %}
{% block content %}
<div class="main_text">Организаторы</div>
	{% if organizators_list %}
		<ul class="ul list">
		{% for organizators in organizators_list %}
			<li>
				<div class="block_left">
					<div style="background-image: url('{% if organizators.userphoto %}{{ organizators.userphoto.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}');"></div>
				</div>
				<div class="block_right">
					<a href="{% url 'organizators:index' %}{{ organizators.id }}" class="name">{{ organizators.fio }}</a>
					<div class="description">{{ organizators.description|truncatechars:255 }}</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>Спикеры отсутсвуют.</p>
	{% endif %}

{% endblock %}