{% extends "base.html" %}
{% load static %}
{% block title %}Добавлнеие партнера{% endblock %}

{% block head_data %}
		<link rel="stylesheet" href="{% static 'partners/css/partners.css' %}" />
{% endblock %}

{% block content %}
	<div class="main_text">Добавление партнера</div>
	<form id="form-partner" enctype="multipart/form-data" action="{% url 'partners:add' %}" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Отправить"/>
	</form>
{% endblock %}
