{% extends "base.html" %}
{% load static %}
{% block title %}Партнеры{% endblock %}

{% block head_data %}
		<link rel="stylesheet" href="{% static 'partners/css/partners.css' %}" />
{% endblock %}

{% block active_partners %}active{% endblock %}

{% block content %}
	<div class="main_text">Наши партнеры{% if user.is_authenticated %}<span><a href="{% url 'partners:add' %}">Добавить партнера</a></span>{% endif %}</div>
	{% if partners_list  %}
	<ul class="ul list">
	{% for partners in partners_list %}
		<li>
			<div class="block_top">
				<div id="partner-del"><a onclick='if(confirm("Удалить партнера?")){return true;} else {return false;}' href="{% url 'partners:index' %}{{ partners.id }}/delete"><div></div></a></div>
				<div id="partner-edit"><a href="{% url 'partners:index' %}{{ partners.id }}/edit"><div></div></a></div>
				<div style="background-image: url('{{ partners.logotype.url }}');" class="image"></div>
				<div class="title" title="{{ partners.partner_name}}">{{ partners.partner_name|truncatechars:26 }}</div>
			</div>
			<div class="block_bottom">
				<div class="description">{{ partners.description }}</div>
			</div>
		</li>
		{% cycle '' '' '<div style="overflow: auto;width:100%;"></div>' as rowflow %}
		{{ rowflow }}
	{% endfor %}
	</ul>
	{% else %}
		<div class="main_notification">Партнеры отсутствуют.</div>
	{% endif %}
{% endblock %}
